@use './variables.scss' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $blue_very_dark;
    font-family: 'Rubik';
    font-style: normal;
}

.grid_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .box {
        width: 255px;
        height: 199px;
        background: $blue_dark;
        border-radius: 15px;
        color: $white;
        text-align: left;
        margin-top: 45px;
        margin-bottom: 0;

        .title {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 29px 35px 24px 30px;
            border-radius: 15px;
            opacity: 1;

            h2 {
                font-weight: 500;
                font-size: 18px;
                line-height: 21px;
                color: $white;
            }
        }

    }

    .box_big {
        background: $blue_dark;
        border-radius: 15px;
        grid-row-start: 1;
        grid-row-end: -5;
        height: 518px;

        .name_container {
            width: 255px;
            height: 354px;
            background: $blue;
            border-radius: 15px;
            padding: 37px 84px 80px 32px;

            .profile_image {
                img {
                    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                    padding-bottom: 43px;
                }
            }

            .profile_description {

                h1 {
                    font-weight: 300;
                    font-size: 40px;
                    line-height: 47px;
                    color: $white;
                }

                span {
                    padding: 43px auto 3px auto;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 18px;
                    color: $blue_pale;
                }
            }
        }

        .frequency_container {
            width: 68px;
            height: 106px;
            padding: 26px 155px 33px 32px;

            .frequency {
                font-weight: 400;
                font-size: 18px;
                line-height: 21px;
                list-style: none;
                color: $desaturated_blue;
                padding-bottom: 21px;

                &:hover {
                    cursor: pointer;
                    color: $white;
                }
            }

            .active {
                color: $white;
            }
        }
    }


    .box_work {
        background-image: url(../images/icon-work.svg);
        background-repeat: no-repeat;
        background-position: top right;
        background-color: $red_light_work;
        border-radius: 20px;
    }

    .box_play {
        background-image: url(../images/icon-play.svg);
        background-repeat: no-repeat;
        background-position: top right;
        background-color: $blue_soft_play;
        border-radius: 20px;
    }

    .box_study {
        background-image: url(../images/icon-study.svg);
        background-repeat: no-repeat;
        background-position: top right;
        background-color: $red_light_study;
        border-radius: 20px;
    }

    .box_exercise {
        background-image: url(../images/icon-exercise.svg);
        background-repeat: no-repeat;
        background-position: top right;
        background-color: $lime_green_exercise;
        border-radius: 20px;
    }

    .box_social {
        background-image: url(../images/icon-social.svg);
        background-repeat: no-repeat;
        background-position: top right;
        background-color: $violet_social;
        border-radius: 20px;
    }

    .box_selfcare {
        background-image: url(../images/icon-self-care.svg);
        background-repeat: no-repeat;
        background-position: top right;
        background-color: $orange_soft_self_care;
        border-radius: 20px;
    }

    .box {

        &:hover {
            cursor: pointer;
            background-color: $blue_hover;
        }

        .time {
            padding-left: 32px;

            h3 {
                font-weight: 300;
                font-size: 56px;
                line-height: 66px;
                color: $white;
                padding-bottom: 8px;
            }

            span {
                font-weight: 400;
                font-size: 15px;
                line-height: 18px;
                color: $blue_pale;
            }

        }
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: $white;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 1024px) {
    .grid_container {
        display: flex;
        flex-direction: column;
        grid-column-gap: 0;
        grid-row-gap: 24px;

        .box {
            width: 327px;
            height: 122px;
            margin-top: 38px;
            margin-bottom: 0;
            padding: 28px 24px;

            .title {
                padding: 0;
            }

        }

        .box_big {
            order: 1;
            height: auto;

            .name_container {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 327px;
                height: auto;
                padding: 35px;

                .profile_image {
                    img {
                        width: 64px;
                        padding-bottom: 0;
                    }
                }

                .profile_description {
                    h1 {
                        font-size: 24px;
                        line-height: 28px;
                    }

                    span {
                        padding: 0;
                    }
                }
            }

            .frequency_container {
                width: 327px;
                height: 70px;

                ul {
                    display: flex;
                }

                .frequency {
                    padding-right: 43px;
                }
            }
        }

        .box_work {
            order: 2;
            border-radius: 15px;
        }

        .box_play {
            order: 3;
            border-radius: 15px;
        }

        .box_study {
            order: 4;
            border-radius: 15px;
        }

        .box_exercise {
            order: 5;
            border-radius: 15px;
        }

        .box_social {
            order: 6;
            border-radius: 15px;
        }

        .box_selfcare {
            order: 7;
            border-radius: 15px;
        }

        .box {

            .time {
                padding-top: 6px;
                padding-left: 0;
                display: flex;
                align-items: center;
                justify-content: space-between;

                h3 {
                    font-size: 32px;
                    line-height: 38px;
                    padding-bottom: 0
                }

            }
        }
    }
}